<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<title>
			{% if config['title'] is defined %} {{ config['title'] }} {% endif %} {% if post is defined %} | {{ post.title.title() }} {% endif %}
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<!-- SYNTAX HIGHLIGHTING STYLESHEET -->
        <link rel="stylesheet" href="{{ url_for('static', filename='codehilite.css') }}">

		<!-- FONT AWESOME (SOCIAL MEDIA ICONS) -->
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">

		<!--[if lt IE 9]>
			<script charset="UTF-8" src="https://dnqgz544uhbo8.cloudfront.net/_/fp/js/shiv.RI2ePTZ5gFmMgLzG5bEVAA.js"></script>
		<![endif]-->

	</head>

	{% block content %}
		<p>Default content to be displayed</p>
	{% endblock content %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.3/jquery.scrollTo.min.js"></script>
	<script type="text/javascript">
		$('table').addClass('sortable-table');
	</script>

</html>