{% extends "base.html" %}

{% block content %}
  
<body itemscope itemtype="http://schema.org/CreativeWork" class="template-flex-article browser-other">
    
	<div class="container" id="container">
      	<div class="butter-bar error">
       		<p class="butter-bar-message"></p>
    	</div>
      		
		<div id="prerendered" class="screen-content">
        	<article class="post-article post-view-mode" data-collection-slug="startup-shenanigans" data-collection-name="Startup Shenanigans" data-post-id="e00babdcc5cb" data-post-version="b3c193596052" data-author="32baface9add" data-author-name="Kirill Zubovsky" data-post-type="flexArticle" data-allow-notes="true">
          
	          	<div class="metabar">
	            	<section class="metabar-title"></section>
	            	
	            	<div class="metabar-actions metabar-mode-">
	              			<span class="metabar-message wf"></span>
	              			<ul class="metabar-actions-btns"></ul>
	            	</div>
				</div>
          
				<section class="post-page-wrapper  post-page-wrapper-contain">
            
            		<div class="post-page-wrapper-inner">              	            

              			<div class="post-content">
                			<div class="post-content-inner">
                  				<header class="post-header">	                    
	                    			<h1 itemprop="name" tabindex="1" class="post-title wf">
	                      				{{ page.title.title() }}
	                    			</h1>
                  				</header>
                  
	                  			<div tabindex="3" class="post-field body notes-source">
	                    		{{ page.html|safe }}
								</div>
	                  
								<div class="post-footer-actions">

									<center>
	                    				<div class="btn-set">

		                    				<a href='/'>

				                    			<button style="margin-top: 10px;" class="btn btn-primary recommend-button no-user-select wf">
				                    				<i class="icon-circle-arrow-left"></i>
				                    				<span class="recommend-button-label" data-suffix="ed">Back to {{ config['header'] }}</span>
				                    			</button>
				                    		</a>

		                    			</div>
	                    			</center>
	                  			</div>
                  			</div>
              			</div>
           			</div>
        		</section>
        	
        		<footer class="post-footer">
					<div class="post-content"></div>    
        		</footer>
       		</article>
      	</div>
    </div>
</body>
{% endblock %}