{% extends "base.html" %}

{% block content %}
  
<body itemscope itemtype="http://schema.org/CreativeWork" class="template-flex-article browser-other">
    
	<div class="container" id="container">
      	<div class="butter-bar error">
       		<p class="butter-bar-message"></p>
    	</div>
      		
		<div id="prerendered" class="screen-content">
        	<article class="post-article post-view-mode" data-collection-slug="startup-shenanigans" data-collection-name="Startup Shenanigans" data-post-id="e00babdcc5cb" data-post-version="b3c193596052" data-author="32baface9add" data-author-name="Kirill Zubovsky" data-post-type="flexArticle" data-allow-notes="true">
          
	          	<div class="metabar">
	            	<section class="metabar-title"></section>
	            	
	            	<div class="metabar-actions metabar-mode-">
	              			<span class="metabar-message wf"></span>
	              			<ul class="metabar-actions-btns"></ul>
	            	</div>
				</div>
          
				<section class="post-page-wrapper  post-page-wrapper-contain">
            
            		<div class="post-page-wrapper-inner">     

            			{% if post.img_source is defined %}         	            

	              		<div class="post-field image image-picker-wrap  background-size-contain">
	                
			                <div class="post-image" style="height: 212px; overflow: hidden;">
			                	<img src="{{ post.img_source }}">
			                </div>
	              	
						</div>

						{% endif %}
              
              			<div class="post-content">
                			<div class="post-content-inner">
                  				<header class="post-header">
	                    			<div class="post-meta clearfix wf">
	                      				<a>
	                        			  
    										<!-- POST METADATA (CATEGORY AND TAGS)-->

    										<i class="icon-user"></i>&nbsp;{{ post.author }} 
    										&nbsp;<i class="icon-calendar"></i>&nbsp;{{ post.date }} 
    										&nbsp;<i class="icon-folder-open"></i>&nbsp;{{ post.category }}
    										&nbsp;<i class="icon-tags"></i>

		    								{% for post_tag in post.meta.tags %}
    										&nbsp;{{post_tag}}
    										{% endfor %}

    									</a>
    									<a onclick="$.scrollTo($('.post-footer'), 500);">
    										&nbsp;<i class="icon-comments"></i>&nbsp;Comments
										</a>
	                    			</div>
	                    
	                    			<h1 itemprop="name" tabindex="1" class="post-title wf">
	                      				{{ post.title.title() }}
	                    			</h1>
                  				</header>
                  
	                  			<div tabindex="3" class="post-field body notes-source">
	                    		{{ post.html|safe }}

	                    		{% if post.img_credit is defined %}
									<i style="margin-bottom: 40px;">Title image courtesy of {{ post.img_credit }}.</i>
								{% endif %}
								</div>
	                  
								<div class="post-footer-actions">

									<center>
	                    				<div class="btn-set">

		                    				<a href='/'>

				                    			<button style="margin-top: 20px;" class="btn btn-primary recommend-button no-user-select wf">
				                    				<i class="icon-circle-arrow-left"></i>
				                    				<span class="recommend-button-label" data-suffix="ed">Back to {{ config['header'] }}</span>
				                    			</button>
				                    		</a>

		                    			</div>
	                    			</center>
	                  			</div>
                  			</div>
              			</div>
           			</div>
        		</section>
        	
        		<footer class="post-footer">
					<div class="post-content">
						<div id="disqus_thread"></div>
	        				<script type="text/javascript">
					            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					            var disqus_shortname = 'mihirxxx'; // required: replace example with your forum shortname

					            /* * * DON'T EDIT BELOW THIS LINE * * */
					            (function() {
					                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					            })();
					        </script>
	    					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    					<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
					</div>            
        		</footer>
       		</article>
      	</div>
    </div>
</body>
{% endblock %}