<ul style="list-style-type:none">
{% for post in posts %}
    <li>
       [ {{ post.date }}] <a href="{{ url_for("show", path=post.path) }}">{{ post.title }}</a>
    </li>
{% else %}
    <li>No posts.</li>
{% endfor %}
</ul>



