{% extends "base.html" %}

{% block content %}
    
    <h2>Pages</h2>
    <ul style="list-style-type:none">
    {% for page in pages|sort(attribute='title', reverse=True) %}
        
        <li>
            <i class="icon-lemon"></i> <a href="{{ url_for("show", path=page.path) }}">{{ page.title }}</a>            
        </li>

    {% else %}
        <li>No pages.</li>
    {% endfor %}
    </ul>

    <h2>Web Log</h2>
    <ul style="list-style-type:none">
    {% for post in posts|sort(attribute='date', reverse=True) %}

        <li>
            [{{ post.date }}] <a href="{{ url_for("show", path=post.path) }}">{{ post.title }}</a>            
        </li>

    {% else %}
        <li>No logs.</li>
    {% endfor %}
    </ul>
    
    {% if config['post_blog'] is defined %}
    {{ config['post_blog']|markdown|safe }}
    {% endif %}
    
{% endblock content %}
