{% extends "base.html" %}

{% block content %}
    
    <!-- POST TITLE --> 

    <h2>{{ post.title }}</h2>
    
    <!-- POST BODY -->

    {{ post.html|safe }}

    <hr>

    <!-- POST METADATA (AUTHOR DATE)-->

    Posted by <a href="{{ url_for("author", author=post.author) }}">{{ post.author }}</a> on {{ post.date }} and updated 
    {% if post.updated %}
        on {{ post.updated }}.
    {% else %}
        never.
    {% endif %}

    <br/>
  
    <!-- POST METADATA (CATEGORY AND TAGS)-->

    Filed under <a href="{{ url_for("cat", cat=post.category) }}">{{ post.category }}</a>. Tagged

    {% for post_tag in post.meta.tags %}
        <a href="{{ url_for("tag", tag=post_tag) }}"> #{{ post_tag }}</a>
    {% endfor %}

    <br/><br/>
    
    <!-- Social (Twitter + HN) Buttons -->

    <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{ post.title }}" style="margin-left: 50px;">Vote on HN</a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="none" style="margin-left: 20px;">Tweet</a> 
    <br/>
    
    <!-- Social (Twitter + HN) Scripts -->

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <script>
        (function(d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = '//hnbutton.appspot.com/static/hn.min.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>

    <hr style="margin-top:10px;">

    {% if config['disqus_id'] is defined %}
    <!-- DISQUS COMMENTS --> 
    <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{ config['disqus_id'] }}'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
    
{% endblock content %}